body{
    background-color: cadetblue;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 1200px) {
    .container{
        max-width: 400px;
    }
  }
  .container{
    margin-top: 7%;
    border: 2px solid rgb(247, 56, 56);
    border-radius: 3%;
    background-color: beige ;
  }